body{
    margin: 0;
    background-color: black;
}

h2{
    color: aquamarine;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ******************************* SEARCH BAR************************* */
#cocktails{
    z-index: 1;
    margin-top: 50px;
    margin-left: 50%;
    margin-bottom: 15px;
    position: sticky;
    top: 20px;
}

/* ****************************** GRID LAYOUT****************************** */
.cocktail, .container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: antiquewhite;
}

.gridContainer{
    display: flex;
    justify-content: center;
   
}

.grid{
    color: aliceblue;
    width: 600px;
 
}

.gridCocktails{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}


/* ********************* LIST ****************************/
ul{
    padding: 0;
    margin: 5px;
    width: 450px;
    column-width: 200px;
}

li{
    list-style-type: none;
    padding: 3px;
}


/* **************************IMAGE***************** */
img{
    width: 90%;
    height: auto;
    margin: 10px;
    padding: 5px;
    grid-row: 1/8;
}

/* *********************BLUR***************** */

.blur{
    filter: blur(10px);
}

.list{
    /* height: 10%; */
    filter: blur(0px);
    transition: filter 0.5s;
}

.listItems1{
    color: aquamarine;
}