body{
    margin: 0;
    /* background-color: black; */
    background: url("./images/floor\ background.jpg"), rgba(0, 0, 0, 0.76);
    background-blend-mode: color-burn;
    color:rgb(178, 219, 206);
    
}

h2, h3{
    color: rgb(127, 255, 212);
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ********************************NAV BAR *********************************************8 */

.navTop{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 1px;
    margin-bottom: 15px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.home, .info, .profile, .contact{
    min-width: 70px;
    /* max-width: 9%; */
    max-height: 5vh;
    min-height: 30px;
}

.home:hover, .info:hover, .profile:hover, .contact:hover{
    transform: scale(1.1);
   font-size: larger;
   content: auto;
}


/* *************************************************home.html**************************************8 */

/* welcome text */
.welcome{
    font-size: 18px;
}

/* ******************************* SEARCH BAR************************* */
#cocktails{
    display: flex;
    justify-content: center;
    gap: 1px;
    /* gap: 5px; */
    z-index: 1;
    margin-top: 0;
    /* margin-top: 25px; */
    /* margin-left: 50%; */
    margin-bottom: 15px;
    position: sticky;
    top: 30px;
}


/* ****************************** GRID LAYOUT****************************** */
.cocktail, .container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: antiquewhite;
}

/* search bar text */
.text{
    color: aliceblue;
    margin-left: 0;
}

/* text below search bar */
#lorem{
    text-align: center;
}

.gridContainer{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.grid{
    margin: 10px;
    color: aliceblue;
    max-width: 650px;
    min-width: 300px;
    /* width: 650px; */
    
}

.gridCocktails{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
    box-shadow: inset 0px 0px 3px 5px gray;
    margin: 5px;
    padding: 10px;
    background-color: rgb(17, 16, 16);
}

.image{
    box-shadow: 1px 1px 0px 5px rgb(44, 41, 41);
}


/* ********************* LIST ****************************/
ul{
    padding: 0;
    margin: 5px;
   
    /* width: 450px; */
    
    column-width: 115px;
}

li{
    list-style-type: none;
    padding: 3px;
}

.infoList{
    text-align: center;
    color: aliceblue;
}

.listItems2{
    overflow:hidden;
}

/* **************************IMAGE***************** */
img{
    max-width: 90%;
    min-width: 10%;
    /* width: 90%; */
    height: auto;
    margin: 10px;
    padding: 5px;
    grid-row: 1/8;
}

/* *********************BLUR***************** */

.blur{
    filter: blur(5px);
}

.list{
    /* height: 10%; */
    filter: blur(0px);
    transition: filter 0.2s;
}

.listItems1{
    color: aquamarine;
}

/* *********************pagination***************** */

.pagination{
    text-align: center;
    margin-bottom: 10%;
}

.page-button{
    font-size: 20px;
    padding: 6px;
    margin: 1px;
}

.page-button:hover{
    background-color: white;
    transform: scale(1.15);
}


/* *************************************************info.html**************************************8 */

.infoContainer{
    display: flex;
    flex-direction: column;
    /* max-width: 50%; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    text-align: center;
    margin: 10px;
    color: aliceblue;
}

.pinfo{
    text-align: center;
    width: 50%;
    /* width: 50%; */
}

/* *************************************************contact.html**************************************8 */

.contactLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactInfo{
    color: aliceblue;
    text-align: center;
}



.bottomContact{
    text-align: center;
    position: absolute;
    bottom: 3%;
    width: 50%;
}